<section id="one" class="tiles">
	<article class="style1" style="min-width: 50%; max-height: 200px;">
		<header class="major">
			<h3><%=link_to "Especialista",user_session_path(:type=>0),:class=>"link" %><h3>
			<p>Ingresa como especialista</p> 
		</header>
	</article>
	<article class="style8" style="background-color: #8A2908; width: 50%; max-height: 200px;">
		<header class="major">
			<h3><%=link_to "Solicitante",user_session_path(:type=>1),:class=>"link" %><h3>
			<p>Ingresa como solicitante</p>
		</header>
	</article>
</section>		