<section id="one" class="DarkOrangeFont">
	<div class="inner">
		<%= render 'form' %>
		<center>
			<%= link_to 'Ver demandas', demands_path,:class=>'button special btn-fit' %>
		</center>
	</div>
</section>
