<section id="one" class="DarkOrangeFont">
	<div class="inner">
		<%if current_user.category == 0%>
			<%=render 'show_especialista'%>
		<%else%>
			<%=render 'show_solicitante'%>
		<%end%>
	</div>
</section>